.App {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTKtxtEzzs0CcAwVRgl8L0q9qLmHjs3PH1GQRZ3f-LFlXVeRmnR&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
}

body{
  margin:0;
  padding: 0;
  font-family: Roboto,"Arial"
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logout {
  color: grey;
  font-size: 14px;
  margin-left: 10px;
  text-decoration: none;
}


.inputadress{
  text-align: center;
  position: relative;
  width: 100%;
}

.inputfield{
  font-size: 20px;
  width: 100%;

}

.inputitem{
  width: 100%;
  z-index: 1;
  position: absolute;
  background-color: transparent;
  color: black;
  overflow: auto;
  font-size: 15px
}

.adressitem{
  border-radius: 10px;
  border: 1px black solid;
  background-color: white;
}




